body {
    margin: 0;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.header {
    width: 84%;
    height: 100px;
    background-color: #00adef;
    position: relative;
    top: 0;
    left: 0;
}

.image-link {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}

.icone-sub {
    cursor: pointer;
    transform: scale(0.3);
    /* justify-content: center; */
    margin-top: 10px;
}



.container {
    width: 84%;
    background-color: #fff;
    height: 100%;
    margin-top: 18px;
}

.texto {
    margin-left: 25px;
    margin-top: 55px;
}

h2 {
    font-family: Hind, Arial, sans-serif;
    color: #333;
    font-weight: normal;
    /* margin-left: 25px; */
    font-size: 27px;
    line-height: 0px;
}

p {
    font-family: Hind, Arial, sans-serif;
    color: #666;
    font-weight: normal;
    font-size: 14px;
    font-weight: 500;
    display: inline;
}

h3 {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Hind, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-top: 40px;
    color: #333;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a {
    color: #00adef;
    font-family: Hind, Arial, sans-serif;
    font-size: 14px;
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 307px;
    background-color: white;
    color: #999;
    text-align: justify;
    border-radius: 1px;
    padding: 5px 0;
    font-family: Hind, Arial, sans-serif;
    font-size: 13px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -114px;
    border: 1px solid #999;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #999 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.label {
    display: flex;  
    justify-content: center;
    width: 100%;
}

.btn1 {
    background-color: #00adef;
    padding: 16px;
    /* width: 100%; */
    /* border: none; */
    color: white;
    text-align: center;
    /* text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; */
    font-family: Hind, Arial, sans-serif;
    font-size: 14px;
    justify-content: center;
}

.btn2 {
    border: 2px solid #00adef;
    /* color: #00adef; */
    line-height: 1;
    padding: 1em;
    text-align: center;
    /* width: 100%; */
    color: #00adef;
    /* background-color: #00adef;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; */
    cursor: pointer;
    font-family: Hind, Arial, sans-serif;
    font-size: 14px;
    justify-content: center;
}