.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: #00adef;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header::-webkit-scrollbar {display:none;}

header {
    overflow-x: scroll;
}

body{
    margin:0;
}

.input-block{
    height: 50%;
}

.bloco{
    height: 100%;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-login{
    height: 50%;
    display: flex;
    align-items: center;f
}

.icone-sub{
    cursor: pointer;
}

.image-link{
    transform: scale(0.2);
    transform-origin: left;
    margin-left: 50px;
    margin-bottom: 10px;
}

.link-txt{
    display: none;
    color: #fff;
    font-size: .8125em;
    text-decoration: underline;
    font-family: Hind,Arial,sans-serif;
    align-self: flex-end;
}

.input-search{
    border: none;
    height: 80%;
    width: calc(100% - 65px);
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: Hind,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: start;
    font-size: 15px;
    padding-left: 5px;
}

.login-icon{
    position: absolute;
    right: 65px;
}

.cart-icon{
    position: absolute;
    right: 15px;
}

.icon{
    width: 25px;
    height: 25px;
    fill: #fff;
    padding:0;
    margin: 0;
    box-sizing: content-box;
}

.crt-icon{
    width: 30px;
    height: 30px;
    fill: #fff;
    padding: 0;
    box-sizing: content-box;
}

.search-icon{
    max-width: 60%;
    height: 60%;
    fill: #00adef;
    vertical-align: middle;
}

.btn-search{
    width: 60px;
    height: 83%;
    background-color: #fff;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/*---hamburguer---*/

#hamburguer span{
    display: block;
    position: absolute;
    height: 2px;
    width: 21px;
    margin-left: 15px;
    margin-top: 15px;
    background: #fff;
}

#hamburguer span:nth-child(1) {
  top: 0px;
}

#hamburguer span:nth-child(2) {
  top: 6px;
}

#hamburguer span:nth-child(3) {
  top: 12px;
}

/*-----header a partir de 768------*/

.header768{
    display:none;
}

.hmbr{
    display: block;
}

.minha-conta{
    display: none;
}

/*-----------------------------------*/

.lista{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
}

.nav{
    width: 100%;
    display: flex;
    overflow-y: hidden;
    background-color: #fff;
    margin-top: 95px;
    font-family: Hind,Arial,sans-serif;
    max-width: 1400px;
    min-width: 1024px;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    padding: 3px 0px 3px 0px;
    color: #333;
}

.item{
    cursor:pointer;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.item-dif{
    font-weight: 400;
    color: #ff2b4e;
}

.hmbr-snd{
    display: none;
}

.hmbr-snd #hamburguer span{
    display: block;
    position: absolute;
    height: 2px;
    width: 21px;
    margin-left: 15px;
    margin-top: 90px;
    background: #00adef;
}

.nav-links{
    cursor: pointer;
    padding-left: 50px;
    color: #00adef;
}

/*---------body--------*/

.img-app{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.img-size{
    width: 100%;
    height: 20%;
}

.primeira{
    display: block;
    width: 100%;
    height: 20%;
}

.segunda{
    display: none;
}

.terceira{
    margin-top: 40px;
    margin-bottom: 70px;
    width: 100%;
    height: 60%;
}

.carousel{
    display: flex;
    justify-content: center;
}

/*-----footer-----*/

.footer{
    background-color: #00adef;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;s
}

.img-footer{
}

.img-submarino-footer{
    height: 25px;
    margin-right: 5px;
    padding-bottom: 10px;
}

.txtfooter{
    display: none;
    font-family: Hind,Arial,sans-serif;
    color: #fff;
    font-size: 12px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 480px){
    .primeira{
        display: none;
    }

    .segunda{
        display: block;
        width: 95%;
        height: 20%;
    }

    
    .terceira{
        width: 95%;
        height: 60%;
    }
}

@media screen and (min-width: 768px){
    .header{
        display: none;
    }

    .header768{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 75px;
        background-color: #00adef;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .menu-login{
        display: flex;
        align-items: center;
        height: 100%;
    }

    #hamburguer span {
        margin-top: 28px;
    }

    .input-block{
        height: 75%;
        left: 133px;
        position: absolute;
        width: calc(100% - 240px);
    }

    .bloco{
        padding-top: 5px;
        width: 100%;
    }

    .box-icones{
        width: fit-content;
        display: flex;
        align-items: center;
    }

    .btn-search{
        border: solid 2px #fff;
        background-color: #00adef;
    }

    .search-icon{
        fill: #fff;
    }

    .nav{
        margin-top:70px !important;
    }


    .txtfooter{
        display: block;
    }

}

@media screen and (min-width: 1024px){
    .hmbr{
        display: none;
    }

    .image-link {
        transform: scale(0.3);
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }

    .btn-search{
        border: solid 2px #fff;
        background-color: #00adef;
    }

    .search-icon{
        fill: #fff;
    }

    .link-txt{
        display: block;
        font-size: 40px;
    }

    .input-block {
        left: 175px;
        width: calc(100% - 425px);
    }

    .minha-conta{
        display: block;
        color: #fff;
        margin-left: 10px;
        font-family: Hind,Arial,sans-serif;
    }

    .login-icon{
        display: flex;
        align-items: center;
        right: 100px;
    }

    .arrow-down{
        fill: #fff;
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(90deg);
    }

    .hmbr-snd{
        display: block;
        padding-top: 13px;
        height: 100%;
    }

    .lista{
        width: calc(100% - 211px);
    }

    .arrow-down-blue {
        fill: #00adef;
        width: 12px;
        height: 12px;
        -webkit-transform: rotate(90deg);
    }

}

