.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: #00adef;
    position: fixed;
    top: 0;
    left: 0;
}

.input-block{
    height: 50%;
}

.bloco{
    height: 100%;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-login{
    height: 50%;
    display: flex;
    align-items: center;f
}

.icone-sub{
    cursor: pointer;
}

.image-link{
    transform: scale(0.2);
    transform-origin: left;
    margin-left: 50px;
    margin-bottom: 10px;
}

.link-txt{
    color: #fff;
    font-size: .8125em;
    text-decoration: underline;
    font-family: Hind,Arial,sans-serif;
    align-self: flex-end;
}

.input-search{
    border: none;
    height: 80%;
    width: calc(100% - 65px);
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: Hind,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: start;
    font-size: 15px;
    padding-left: 5px;
}

.login-icon{
    position: absolute;
    right: 65px;
}

.cart-icon{
    position: absolute;
    right: 15px;
}

.icon{
    width: 25px;
    height: 25px;
    fill: #fff;
    padding:0;
    margin: 0;
    box-sizing: content-box;
}

.crt-icon{
    width: 30px;
    height: 30px;
    fill: #fff;
    padding: 0;
    box-sizing: content-box;
}

.search-icon{
    max-width: 60%;
    height: 60%;
    fill: #00adef;
    vertical-align: middle;
}

.btn-search{
    width: 60px;
    height: 83%;
    background-color: #fff;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/*---hamburguer---*/

#hamburguer span{
    display: block;
    position: absolute;
    height: 2px;
    width: 21px;
    margin-left: 15px;
    margin-top: 15px;
    background: #fff;
}

#hamburguer span:nth-child(1) {
  top: 0px;
}

#hamburguer span:nth-child(2) {
  top: 6px;
}

#hamburguer span:nth-child(3) {
  top: 12px;
}