.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #00adef;
    position: fixed;
    top: 0;
    left: 0;
}

.input-block{
    height: 50%;
}

.bloco{
    height: 100%;
    padding: 30px;
    padding-top: 0;
}

.menu-login{
    height: 50%;
    display: inline-flex;
    align-items: center;f
}

.icone-sub{
    margin-top: 13px;
    transform: scale(0.6);
    cursor: pointer;
}

.image-link{
    height: 100%;
    margin-left: 6%;
    width: fit-content;
}

.link-txt{
    color: #fff;
    font-size: .8125em;
    text-decoration: underline;
    font-family: Hind,Arial,sans-serif;
    align-self: flex-end;
}

.input-search{
    border: none;
    height: 80%;
    width: 100%;
    border-radius: 10px;
}

.login-icon{
    height: 60px;
    width: 60px;
    color:#666;
}

/*---hamburguer---*/

#hamburguer span{
    display: block;
    position: absolute;
    height: 7px;
    width: 65px;
    margin-left: 33px;
    margin-top: 45px;
    background: #fff;
}

#hamburguer span:nth-child(1) {
  top: 0px;
}

#hamburguer span:nth-child(2) {
  top: 18px;
}

#hamburguer span:nth-child(3) {
  top: 36px;
}